/* BODY */

html {
    scroll-behavior: smooth;
}

body{
    text-align: center;
}

#gj{
    padding-left: 15px;
}

/* NAVBAR */

.navbar{
    opacity: 0.3;
    transition: opacity 1s;
}

.navbar:hover{
    opacity: 1;
}

/* HERO */

.hero{
    clip-path: ellipse(150% 100% at 50% 0);

    background: linear-gradient(-45deg, #D37147, rgb(48,103,105), rgb(52,98, 136), rgb(117, 187, 63));
    background-size: 400% 400%;
    -webkit-animation: Gradient 10s ease infinite;
    -mos-animation: Gradient 10s ease infinite;
    animation: Gradient 10s ease infinite;
}

@-webkit-keyframes Gradient{
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@-moz-keyframes Gradient{
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes Gradient{
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.hero .title, .hero .subtitle{
    color: white;
}

.hero-body{
    text-align: center;
}

/* HOVER ON ARTICLES */

#main article{
    box-shadow: none;
    transition: box-shadow 0.8s;
}
#main article:hover{
    box-shadow: 0px 0px 5px 1px rgb(117, 187, 63);
}

/* COLUMN */

#about .column img{
    padding: 5%;
    padding-top: 6%;
}

.message.is-primary .message-body{
    border-left: 0px;
}

/* CARD */

#cards{
    justify-content: space-evenly;
}

/* IMG */

.circle-img{
    border-radius: 0%;
    transition: border-radius 1s;
}

.circle-img:hover{
    border-radius: 50%;
}

/* PORTFOLIO */

.portfolio-img{
    transition: all 1s;
    padding: 0px;
}

.portfolio-img:hover{
    box-shadow: 0px 0px 5px 1px rgb(117, 187, 63);
}

/* SOLUTIONS */

#solutions{
    background-color: #8A4D76;
    color: white;
}

#solutions .title{
    color: white;
}

#solutions .column .title{
    font-size: 1.5em;
    padding-top: 30px;
}

#solutions .message-body{
    margin-top: 50px;
    font-size: 1.5em;
}

/* CONTACT */

#contact .subtitle{
    padding-top: 10px;
}